
@import url(https://db.onlinewebfonts.com/c/2b9a54453c1a3cbc651c0788ade94e4a?family=Noto+IKEA+Latin+Regular);

/* Fuente importada desde un enlace. */

* {
    margin: 0;
    padding: 0;
    font-family: "Noto IKEA Latin Regular", system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Recomendable la visualización a un 100% o un 80% de zoom del navegador. */

body {
    background-image: url(bg_images/bgblur.png); /* Probé a colocar un difuminado real sobre el fondo pero no funcionó como esperaba. Como solución, difuminé el fondo que iba a usar. Cerebro galaxia. */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.parent {
    display: grid;
    grid-template-columns: repeat(10, 1fr); /* Ofrece un cambio en su estructura respecto a las páginas 'home' y 'asociacion', ya que para esta página prescindí de usar el menú. */
    grid-template-rows: repeat(5, 1fr); /* No hay 'grid-column-gap'. */
    grid-row-gap: 15px; /* Valoré usar 27.5px como en el resto de páginas. */
    margin: 25px;
    padding-left: 25px;
    padding-right: 25px;
}
    
.header { 
    grid-area: 1 / 1 / 2 / 11;
    text-align: center;
}

.header img {
    width: 20%;
    vertical-align: middle; /* No estoy seguro que esta declaración funcione. */
}

.content_1 { 
    grid-area: 2 / 1 / 5 / 11;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register {
    padding: 50px 30px;
    background-color: #506956;
    border-radius: 25px;
    box-shadow: 0px 0px 5px 5px #00000015;
}

.register_title {
    font-size: 150%;
    color: #FFF;
    text-align: center;
}

input {
    width: 50%;
	height: 30px;
    font-size: 110%;
    background: #FFF;
    justify-content: center;
    display: flex;
    margin: 50px auto;
	padding: 5px;
    border: none;
    border-radius: 5px;
    outline: none;
    box-shadow: 0px 0px 5px 5px #00000015;
}

input::placeholder {
    color: lightgrey;
}

button {
    width: 25%;
	height: 50px;
    margin: 10px auto;
	justify-content: center;
    display: block;
    color: #FFF;
	background: #394D3E;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;
    outline: none;
	border: none;
    transition: .2s ease-in; /* Transición en el botón que dura 0.2 segundos. */
    cursor: pointer;
    box-shadow: 0px 0px 5px 5px #00000015;
}

button:hover{
	background: #263329;
}

button:active{
	background: #FFF;
    color: #000;
}

.footer { 
    grid-area: 5 / 1 / 6 / 11;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.rrss {
    display: flex;
}

.rrss img {
    width: 25px;
    margin: 0 20px;
    transition: 200ms;
}

.rrss img:hover {
    transform: scale(1.2);
}

.footer > p {
    margin-top: 10px;
    font-size: 20px;
}
